.box {
  width: 90%;
  height: 500px;

  margin: 30px auto;

  background-color: black;
  color: rgb(171, 105, 55);

  border: 1px solid rgb(222, 143, 24);
  border-radius: 15px;

  box-shadow: 8px 5px 10px rgba(66, 67, 67, 0.778);

  overflow: hidden;
  position: relative;
}

.p {
  font-style: italic;
}

body {
  background-color: rgba(235, 219, 196, 0.725);
  margin: 0;
  padding: 9px 25px;
}

.titulo {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  transition: 0.5s;
}

.titulo h3 {
  font-size: 30px;
}


.info {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: 35px 60px;

  box-sizing: border-box;

  background-color: rgba(0, 0, 0, 0.95);

  color: white;

  text-align: left;

  transform: translateY(-100%);

  transition: transform 0.5s ease;

  display: flex;
  flex-direction: column;

  justify-content: center;
}


.info h3 {
  color: rgb(222, 143, 24);

  font-size: 25px;

  margin: 0 0 12px 0;
}


.info p {
  font-family: Arial, sans-serif;

  font-style: normal;

  font-size: 15px;

  line-height: 1.4;

  margin: 6px 0;
}


.box:hover .titulo {
  transform: translateY(100%);
}

.box:hover .info {
  transform: translateY(0);
}

.final {
  width: 90%;
  margin: 40px auto;
  justify-content: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.final .fuentes,
.final .ia {
  width: 100%;
  height: 250px;

  margin: 0;
  padding: 25px;

  box-sizing: border-box;

  border: 2px solid rgb(222, 143, 24);
  border-radius: 15px;

  background-color: rgba(255, 255, 255, 0.4);
}
