* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4ff;
  color: #222;
  line-height: 1.6;
}

nav {
  background: #171738;
  color: white;
  padding: 18px;
  text-align: center;
  position: sticky;
  top: 0;
}

nav h2 {
  color: #55e6ff;
  margin-bottom: 8px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: #ff5ecb;
}

header {
  text-align: center;
  padding: 80px 20px;
  color: white;

  background: linear-gradient(
    135deg,
    #5b21b6,
    #ec4899,
    #22d3ee
  );
}

header h1 {
  font-size: 70px;
}

header p {
  font-size: 20px;
}

.chip {
  width: 130px;
  height: 130px;
  margin: auto;
  margin-bottom: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #181818;
  border: 6px solid #888;
  border-radius: 20px;

  font-size: 30px;
  font-weight: bold;

  box-shadow: 0 0 30px #55e6ff;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 60px 25px;
}

section h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
  color: #5925a8;
}

section p {
  font-size: 18px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(180px, 1fr)
  );
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  text-align: center;
  border-radius: 20px;

  box-shadow: 0 8px 20px #0002;

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  color: #ec4899;
  margin-bottom: 10px;
}

.curiosidad {
  max-width: none;
  text-align: center;

  background: linear-gradient(
    135deg,
    #ffe66d,
    #ff9de2
  );
}

.curiosidad h2 {
  color: #5b21b6;
}

footer {
  text-align: center;
  padding: 25px;
  background: #171738;
  color: white;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 50px;
  }

  nav a {
    display: inline-block;
    margin: 5px;
  }
}